<form method="post" action="{{ path('app_consulter_delete', {'id': consulter.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ consulter.id) }}">
    <button class="btn">Delete</button>
</form>
