{% extends 'base.html.twig' %}

{% block title %}Consulter{% endblock %}

{% block body %}
    <h1>Consulter</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ consulter.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_consulter_index') }}">back to list</a>

    <a href="{{ path('app_consulter_edit', {'id': consulter.id}) }}">edit</a>

    {{ include('consulter/_delete_form.html.twig') }}
{% endblock %}
