{% extends 'base.html.twig' %}

{% block title %}New Jouer{% endblock %}

{% block body %}
    <h1>Create new Jouer</h1>

    {{ include('jouer/_form.html.twig') }}

    <a href="{{ path('app_jouer_index') }}">back to list</a>
{% endblock %}
