<form method="post" action="{{ path('app_creer_delete', {'id': creer.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ creer.id) }}">
    <button class="btn btn-outline-danger btn-fw">Delete</button>
</form>
